     <div class="row mb-2">
      <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Didactic game</strong>
          <h3 class="mb-0">Language Barrier</h3>
          <div class="mb-1 text-muted">April 24</div>
          <p class="card-text mb-auto">An application that allows children to learn multiple langauges through an interactive matchmaking system</p>
          <a href="https://github.com/psurer/language-barrier" class="stretched-link">Got to the repo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Language Barrier</text></svg>
        </div>
      </div>
    </div>
     <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Management App</strong>
          <h3 class="mb-0">Employee Tracker</h3>
          <div class="mb-1 text-muted">June 03</div>
          <p class="card-text mb-auto">Application for managing a company's employees</p>
          <a href="https://github.com/marlysco/Employee-Tracker" class="stretched-link">Got to the repo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Employee Tracker</text></svg>
        </div>
      </div>
    </div>
 
  
  <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Organizational App</strong>
          <h3 class="mb-0">Note Taker</h3>
          <div class="mb-1 text-muted">May 22</div>
          <p class="card-text mb-auto">Application called Note Taker that can be used to write and save notes</p>
          <a href="https://github.com/marlysco/Note-Taker" class="stretched-link">Got to the repo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Note Taker</text></svg>
        </div>
      </div>
    </div>
 
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Appointment Manager</strong>
          <h3 class="mb-0">Lady Lash</h3>
          <div class="mb-1 text-muted">June 23</div>
          <p class="card-text mb-auto">Appointment manager for a real small business called Lady Lash</p>
          <a href="https://fathomless-eyrie-79379.herokuapp.com/" class="stretched-link">Got to the app</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Lady Lash</text></svg>
        </div>
      </div>
    </div>

   
 </div>
   

